.toolbar{
    padding: 5px 10px;
    padding-top: var(--ion-safe-area-top,0);
}
.page_title{
    color: #00618E;
}
.kiri{
    text-align: left;
}
.kanan{
    text-align: right;
}
.total{
    color: #F8815F;
}
.no_order{
    color: #ADDD80;
    font-weight: bold;
    font-size: 18px;
}
h5{
    font-weight: normal;
    font-size: 16px;
}
p{
    color: #7b7b7b;
    font-size: 14px;
    font-style: italic;
}
.body{
    background: #f5f5f5;
    padding: 0;
}
.mycard{
    background: #fff;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}
.header{
    font-size: 14px;
}
.card-cart img{
    height: auto;
    width: auto;
}
.text_produk{
    width: 75%;
    float: left;
}
.harga{
    margin: 0 auto;
    color: #9ED559;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    margin-bottom: 5px;
}
.judul{
    margin: 0 auto;
    text-align: left;
    font-size: 13px;
}
.buttons{
    width: 25%;
    float: left;
    text-align: right;
}
.buttons label{
    float: left;
    font-weight: bold;
    text-align: center;
    width: 50%;
    font-size: 14px;
}
.minus{
    float: left;
    width: 25%;
    background: #dadada;
    color: #fff;
    /* padding: 5px; */
    border-radius: 22px;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 0px;
}
.plus{
    float: left;
    width: 25%;
    background: #00618E;
    color: #fff;
    /* padding: 5px; */
    border-radius: 22px;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 0px;
}
.subtotal{
    background: #EAF8FE;
    padding: 4px 8px;
    color: #0079BF;
    float: left;
    width: 100%;
    margin-top: 10px;
}
.hapus{
    color: #F65000;
}
.bg-merah-dikit{
    background: #ffe9e9;
    padding: 4px 10px;
}
.left{
    color: #7b7b7b;
}
.nama, .email, .telp{
    width: 100%;
    margin: 2px 0px 10px 0px;
    display: block;
    text-align: center;
}
.nama{
    color: #00618E;
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}
.btn_info{
    background: #fff;
    border: 1px solid #dadada;
    color: #353535;
    margin: 2px auto;
    padding: 0px 20px;
    text-align: left;
    font-size: 13px;
}
.btn_keluar{
    background: #ff4848;
    border: 1px solid #dadada;
    color: #fff;
    margin: 2px auto;
    padding: 0px 20px;
    text-align: left;
    font-size: 13px;
}
.bg-abu{
    background: #f5f5f5;
}