.icon{
    color: #b3b3b3 !important;
}
ion-tab-button {
    --color-selected: #1068a3 !important
}
.tab-item-active {
    --color-selected: #1068a3 !important
}
.tab-selected{
    color: #1068a3 !important
}
.active{
    color: #1068a3 !important
}