<ion-header no-border text-center>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" text-center>Kritik Saran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="body">

    <ion-row>
      <ion-col size="12">
        <div class="center">
          <img src="../../assets/imgs/logo-needs.png" width="300">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="form-login">
          <div class="padding">
            <label class="label">Kritik</label>
            <textarea type="text" class="input_phone" placeholder="kritik" [(ngModel)]="kritik"></textarea>
          </div>

          <div class="padding">
            <label class="label">Saran</label>
            <textarea type="text" class="input_phone" placeholder="saran" [(ngModel)]="saran"></textarea>
          </div>


          <button class="btn btn-login" (click)="postData()">Submit</button>
        </div>
      </ion-col>
    </ion-row>

  </div>

</ion-content>
